html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

// @todo Implement "sticky footer";


// Default html elements style definitions

p {
  color: $text_black;
}

a {
  color: $purple;
}
